<launch>
  <include file="$(find pfoe_cartpole)/launch/pfoe_cartpole.launch" />
  <node pkg="raspimouse_gamepad_teach_and_replay" name="logger" type="logger.py" required="true" output="screen" />
  <node pkg="raspimouse_gamepad_teach_and_replay" name="replay" type="replay" required="true" output="screen" />
</launch>
